
body {
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}
    
h1 {
color: #ffffff;
background-color: #0000ff;
}

h2 {
    color: rgb(255, 0, 0);
}

h3 {
    color: hsl(100, 77%, 39%);
}

p {
    text-align: justify;
}
